 
.connect{ 
    border: 1px solid gray;
    border-radius: 150px;
    padding: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
    background: #FCD535;
}
.connect-title{
    font-size: 40px;
    font-weight: 600; 
    margin: 10px;

}
.connect-p{
    padding-left: 20%;
    padding-right: 20%;
}
.connect-btn{
    border: none;
    outline: none;
    background: black;
    color: yellow;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 30px;
    cursor: pointer;
}
@media  (max-width:700px) {
    .connect-title{
        font-size: 15px;
        font-weight: 800; 
        margin: 5px;
    }
    .connect{ 
        border-radius: 70px;
        padding: 10px; 
    }
    .connect-p{
        font-size: 10px;
        padding-left: 10%;
        padding-right: 10%;
    }
    .connect-btn{
        padding: 6px 15px;
        font-size: 10px;
        margin-top: 8px; 
    }
}