.benefit-container{
    margin-top: 30px;
    background: #181A20;
    color: white;
    padding: 50px;
    border-radius: 30px;
}
.benefit-container h1{
    font-size: 40px;
    margin-bottom: 80px;
    padding: 20px;
}
.benefit{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.b-left{
    max-width: 630px;
    margin-right: 20px;
}
.b-title{
    display: inline-flex;
    align-items: center;
    border: 0.5px solid gray;
    border-radius: 30px;
    padding: 5px 15px;
    gap: 10px;

}
.b-title img{
    width: 20px;
}
.b-description{
    margin-top: 20px;
    font-size: 20px;

}
.b-right img{
    width: 300px;
}
@media (min-width: 1700px) {
    .b-left{
        max-width: 830px;
        margin-right: 20px;
    }
   .b-description{
    font-size: 25px;
   }
   .b-title img{
    width: 30px;
   }
   .b-title{
    font-size: 25px;
   }
  }

@media (max-width: 980px) {
    .benefit-container h1{
        font-size: 30px;
        margin-bottom: 10px;
        padding: 15px;
    }
    .b-right img{
        width: 200px;
    }
    .b-description{
        font-size: 12px;
    }
}
@media  (max-width: 700px) {

    .benefit-container{
        margin-top: 0px;
        padding: 4px;
    }
    .benefit-container h1{
        font-size: 20px;
        margin-bottom: 20px;
        padding: 10px;
    }
    .benefit{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .b-right img{
        width: 80px;
    }
    .b-description{
        margin-top: 4px;
        font-size: 10px;
        font-weight: 500;
    }
    .b-title{
        font-size: 10px;
        display: inline-flex;
        align-items: center;
        border: 0.5px solid gray;
        border-radius: 30px;
        padding: 2px 5px;
        gap: 5px;
    
    }
    .b-title img{
        width: 10px;
    }
}