.hero{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.hero-right img{
    width: 300px;
    border-radius: 20px;
}
.small-icon{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 0.5px solid gray;
    border-radius: 30px;
    padding: 3px 12px;
    font-size: 12px;
    color: white;
    font-weight: 100;

}
.hero-left{
    max-width: 600px;
    margin-right: 20px;
}
.small-icon img{
    width: 20px;
}
.hero-left h1{
 color: white;
 font-size: 50px;
}
.hero-left button{
    background: #FCD535;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 30px;
    padding: 7px 14px;
    box-shadow: 0px 0px 15px 0.1px #FCD535;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.hero-text{
    color: white;
    margin-top: 30px;
}
@media (min-width: 1700px) {
    .hero-left h1{
        color: white;
        font-size: 80px;
       }
    .hero-right img{
        width: 440px;
        border-radius: 20px;
    }
    .hero-left{
        max-width: 840px;
        margin-right: 20px;
    }
    .small-icon{
        font-size: 30px;
    }
   .small-icon img{
    width: 30px;
   }
   .hero-text{
    font-size: 25px;
   }
   .hero-left button{
    font-size: 25px;
   }
  }
@media  (max-width:700px) {
  .container{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 40px;
   }
  
 }
@media  (max-width: 980px) {
    .hero-right img{
        width: 250px;
    }
    .hero-left h1{
        color: white;
        font-size: 30px;
       }
    .hero-text{
       font-size: 14px;
       /* text-align: justify; */
       word-spacing: 2px;
    }
}
@media  (max-width:700px) {
    .feature-title{
        padding: 10px;
        font-size: 30px;
    }
    .hero{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .hero-right{
        width: 500px;
        height: 200px;
        overflow: hidden;
        margin-top: 20px;
        
    }
    .hero-right img {
        width: 100%;
        height: 100%; 
        object-fit: cover;  
        display: block; 
    }
    
    .hero-left{
        max-width: 500px;
    }
}