.footer{
    background: #181A20;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    /* padding: 20px; */
}
.footer-left{
     padding: 20px 0px;
}
.footer-left img {
    width: 30px;
    margin-bottom: 18px;
}
.footer-left p{
    margin-bottom: 18px;
}
 .footer-icons {
    gap: 10px;
    display: flex;
  
 }
.footer-icon{
    margin-left: 10px;
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid gray;
    padding: 4px 18px;
    border-radius: 20px; 
    gap: 12px;
}
.footer-right{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer-right a img{
    width: 50px;
}
@media (max-width:700px) {
    .footer-left{
        padding: 10px 0px;
   }
   .footer-left img {
       width: 30px;
       margin-bottom: 10px;
   }
   .footer-left p{
       font-size: 14px;
   }
   .footer-icon{
       font-size: 10px;
       margin-left: 0px;
       padding: 6px;
       
   }
   .f-icon-title{
    display: none;
   }
   .footer-right{
    display: flex;
    flex-direction: column;
   }
   .footer-right h3{
    font-size: 15px;
   }
   .footer-right a img{
       width: 40px;
   }
    
}