@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Liter&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inria Serif", serif;
 }
 
 
 #root{
  background: linear-gradient(to right, 
  #222325, 
  #222222, 
  #2d2d2b, 
  #30302d, 
  #30302b, 
  #2e2d28, 
    #2c2e22, 
    #292b20, 
    #282a20, 
    #2c2d24, 
    #282a20);
    /* background: linear-gradient(to right, #252525, #252525); */

  /* height: 100vh; */
  padding-bottom: 100px;
 }
 .container{
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 80px;
 }
@media (min-width: 1700px) {

   #root{
    padding-left: 10%;
    padding-right: 10%;
   }
}
.underline {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, #3f3f3f, #FCD535, #3f3f3f);
  border-image-slice: 1;
}
