@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Liter&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inria Serif", serif;
 }
 #root{
  background: linear-gradient(180deg, #282727, #2e2e2e);  
 }
 
 .container{
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 80px;
 }
 @media  (max-width:700px) {
  .container{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 40px;
   }
  
 }
.underline {
  border: 1px solid transparent;
  background:  linear-gradient(to right, #4d4d4d, hsl(48, 80%, 60%), #515151);
  height: 2px;
}
.feature-title{
  padding: 80px;
  font-size: 50px;
  color: whitesmoke;
  text-align: center;
  margin-top: 80px;
}
@media (min-width: 1700px) {

  #root{
   padding-left: 10%;
   padding-right: 10%;
  }
}
.swiper-button-prev,
.swiper-button-next {
    color: white !important;  /* Change arrow color to white */
    margin-left: 40px;
    margin-right: 40px;

}
.swiper-pagination-bullet {
  background: white !important;
}
