.faq{
    background: #181A20;
    color: white;
    border-radius: 30px;
    padding: 20px;
}
.faq h1{
    text-align: center;
    margin: 30px auto;
}
.question{
    margin: 20px auto;
}
.ques {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.ans {
    color:  #848E9C;
    margin-top: 5px;
}
span {
    transition: transform 0.1s ease-in-out;
  }
.rotate-icon {
    transform: rotate(90deg);
  }
  @media (min-width: 1700px) {

    .ques{
        font-size: 25px;
    }
    .ans{
        font-size: 24px;
    }
  }
@media (max-width: 700px) {
    .faq{
        padding: 10px;
    }
    .faq h1{
        font-size: 15px;
        margin: 10px auto;
    }
    .question{
        margin: 10px auto;
    }
    .ques {
     font-size: 10px;
    }
    .ans{
        font-size: 10px;
    }
}